html {
    scroll-behavior: smooth;
  }
body {
    font-family: Arial;
    width: auto;
    height: auto;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
    background-attachment: fixed;
}
#baner{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    border: 5px solid rgb(0, 0, 0);
    padding: 10%;
    text-align: center;
    color: white;
    padding: 10px;
    
}
#main{
    
    margin-top: 5%;
    
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    border: 5px solid rgb(0, 0, 0);
    text-align: center;
    opacity: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 10%;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.item{
    float:left;
    width:200px;
    margin: 5px;
}

#footer{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    border: 5px solid rgb(0, 0, 0);
    padding: 10%;
    text-align: center;
    color: white;
    padding: 10px;
}  